In [1]:
print("Syed Ahsan Hussain")
print("Syed Iqtedar Hussain")
print("NIC # 42501-6175618-3")
print("Nationality: Pakistani")

Syed Ahsan Hussain
Syed Iqtedar Hussain
NIC # 42501-6175618-3
Nationality: Pakistani

In [2]:
print("Ahsan Shah", 'Syed Iqtedar Hussain', "Pakistani", 50, sep = "\t")

Ahsan Shah	Syed Iqtedar Hussain	Pakistani	50

In [3]:
print("Ahsan Shah", 'Syed Iqtedar Hussain', "Pakistani", 50, sep="\n")

Ahsan Shah
Syed Iqtedar Hussain
Pakistani
50

In [4]:
print("Syed Ahsan Hussain")
print("Syed Iqtedar Hussain")
print("NIC # 42501-6175618-3")
print("Nationality: Pakistani")
print(50)

Syed Ahsan Hussain
Syed Iqtedar Hussain
NIC # 42501-6175618-3
Nationality: Pakistani
50

In [5]:
print("Syed Ahsan Hussain", end="*")
print("Syed Iqtedar Hussain", end="*")
print("NIC # 42501-6175618-3", end="*")
print("Nationality: Pakistani", end="*")
print(50, end="*")

Syed Ahsan Hussain*Syed Iqtedar Hussain*NIC # 42501-6175618-3*Nationality: Pakistani*50*

# Data Types

In [6]:
a = "syed ahsan shah"
a

'syed ahsan shah'

In [7]:
a

'syed ahsan shah'

In [8]:
type(a)

str

In [9]:
a = 20
a

20

In [10]:
type(a)

int

In [11]:
a = ['qasim', 'asif', 'ahsan'] #list
a[1]

'asif'

In [12]:
a = ('qasim', 'asif', 'ahsan') #tuple
a[1]

'asif'

In [13]:
type(a)

tuple

In [14]:
a = {
    'name':'Ahsan',
    'nationality':'Pakistani',
    'father name':'Iqtedar'
}
a

{'name': 'Ahsan', 'nationality': 'Pakistani', 'father name': 'Iqtedar'}

In [15]:
type(a)

dict

In [16]:
a['father name']

'Iqtedar'

In [17]:
type(a)

dict

In [18]:
type(a)

dict

# Control Flow

if login:
    false statement 
else:
    true statement

In [19]:
if False:
    print('Pakistan')
else:
    print('USA')

USA

In [20]:
if True:
    print('Pakistan')
else:
    print('USA')

Pakistan

# Loop

while logic:
    statement

In [21]:
a = 1
while a<=9:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9

In [22]:
l= ['a', 'b', 'c', 'd', 'e', 'f']
for i in l:
    print(i)

a
b
c
d
e
f

In [23]:
print('Name: Syed Ahsan Hussain')
print('Father Name: Syed Iqtedar Hussain')
print('Nationality: Pakistani')
print('NIC # 42501-6175618-3')
print('Course: Artificial Intelligence')
print('Age: 28')
print('Sex: Male')

Name: Syed Ahsan Hussain
Father Name: Syed Iqtedar Hussain
Nationality: Pakistani
NIC # 42501-6175618-3
Course: Artificial Intelligence
Age: 28
Sex: Male

In [24]:
a = 'Syed Ahsan Shah'
a

'Syed Ahsan Shah'

In [25]:
type(a)

str

In [26]:
b = 28
b

28

In [27]:
type(b)

int

In [28]:
a = {
    'Name':'Syed Ahsan Shah',
    'Father Name':'Syed Iqtedar Hussain',
    'Course':'Artificial Intelligence'
}
a

{'Name': 'Syed Ahsan Shah',
 'Father Name': 'Syed Iqtedar Hussain',
 'Course': 'Artificial Intelligence'}

In [29]:
type(a)

dict

In [30]:
a = "Syed Ahsan Shah"
print(a)

Syed Ahsan Shah

In [31]:
print("My Name is Syed Ahsan Shah", "My Father Name is Syed Iqtedar Hussain", "Age = 28", sep="\n")

My Name is Syed Ahsan Shah
My Father Name is Syed Iqtedar Hussain
Age = 28

In [32]:
print("My Name is Syed Ahsan Shah", "My Father Name is Syed Iqtedar Hussain", "Age = 28", sep="\t")

My Name is Syed Ahsan Shah	My Father Name is Syed Iqtedar Hussain	Age = 28

In [33]:
print(1.0)

1.0

In [34]:
a = "Syed Ahsan Shah"
a

'Syed Ahsan Shah'

# Syed Ahsan Hussain

In [35]:
a = "Syed ahsan shah"
a

'Syed ahsan shah'

In [36]:
a

'Syed ahsan shah'

In [37]:
type(a)

str

In [38]:
a = 123.0
a

123.0

In [39]:
print(a)

123.0

In [40]:
type(a)

float

# Data Types

In [41]:
name = "Syed Ahsan Shah"
age = 28
print("My Name is "+name+" and My Age is "+str(age))

My Name is Syed Ahsan Shah and My Age is 28

In [50]:
print(name)

Syed Ahsan Shah

In [43]:
print(age)

28

In [49]:
x = str(age) + name