In [1]:
print("Syed Ahsan Hussain")
print("Syed Iqtedar Hussain")
print("NIC # 42501-6175618-3")
print("Nationality: Pakistani")

Syed Ahsan Hussain
Syed Iqtedar Hussain
NIC # 42501-6175618-3
Nationality: Pakistani

In [88]:
print("Ahsan Shah", 'Syed Iqtedar Hussain', "Pakistani", 50, sep = "\t")

Ahsan Shah	Syed Iqtedar Hussain	Pakistani	50

In [87]:
print("Ahsan Shah", 'Syed Iqtedar Hussain', "Pakistani", 50, sep="\n")

Ahsan Shah
Syed Iqtedar Hussain
Pakistani
50

In [7]:
print("Syed Ahsan Hussain")
print("Syed Iqtedar Hussain")
print("NIC # 42501-6175618-3")
print("Nationality: Pakistani")
print(50)

Syed Ahsan Hussain
Syed Iqtedar Hussain
NIC # 42501-6175618-3
Nationality: Pakistani
50

In [8]:
print("Syed Ahsan Hussain", end="*")
print("Syed Iqtedar Hussain", end="*")
print("NIC # 42501-6175618-3", end="*")
print("Nationality: Pakistani", end="*")
print(50, end="*")

Syed Ahsan Hussain*Syed Iqtedar Hussain*NIC # 42501-6175618-3*Nationality: Pakistani*50*

# Data Types

In [99]:
a = "syed ahsan shah"
a

'syed ahsan shah'

In [100]:
a

'syed ahsan shah'

In [101]:
type(a)

TypeError: 'str' object is not callable

In [102]:
a = 20
a

20

In [103]:
type(a)

TypeError: 'str' object is not callable

In [104]:
a = ['qasim', 'asif', 'ahsan'] #list
a[1]

'asif'

In [105]:
a = ('qasim', 'asif', 'ahsan') #tuple
a[1]

'asif'

In [106]:
type(a)

TypeError: 'str' object is not callable

In [107]:
a = {
    'name':'Ahsan',
    'nationality':'Pakistani',
    'father name':'Iqtedar'
}
a

{'name': 'Ahsan', 'nationality': 'Pakistani', 'father name': 'Iqtedar'}

In [108]:
type(a)

TypeError: 'str' object is not callable

In [109]:
a['father name']

'Iqtedar'

In [110]:
type(a)

TypeError: 'str' object is not callable

In [111]:
type(a)

TypeError: 'str' object is not callable

# Control Flow

if login:
    false statement 
else:
    true statement

In [112]:
if False:
    print('Pakistan')
else:
    print('USA')

USA

In [113]:
if True:
    print('Pakistan')
else:
    print('USA')

Pakistan

# Loop

while logic:
    statement

In [114]:
a = 1
while a<=9:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9

In [115]:
l= ['a', 'b', 'c', 'd', 'e', 'f']
for i in l:
    print(i)

a
b
c
d
e
f

In [116]:
print('Name: Syed Ahsan Hussain')
print('Father Name: Syed Iqtedar Hussain')
print('Nationality: Pakistani')
print('NIC # 42501-6175618-3')
print('Course: Artificial Intelligence')
print('Age: 28')
print('Sex: Male')

Name: Syed Ahsan Hussain
Father Name: Syed Iqtedar Hussain
Nationality: Pakistani
NIC # 42501-6175618-3
Course: Artificial Intelligence
Age: 28
Sex: Male

In [117]:
a = 'Syed Ahsan Shah'
a

'Syed Ahsan Shah'

In [118]:
type(a)

TypeError: 'str' object is not callable

In [119]:
b = 28
b

28

In [120]:
type(b)

TypeError: 'str' object is not callable

In [121]:
a = {
    'Name':'Syed Ahsan Shah',
    'Father Name':'Syed Iqtedar Hussain',
    'Course':'Artificial Intelligence'
}
a

{'Name': 'Syed Ahsan Shah',
 'Father Name': 'Syed Iqtedar Hussain',
 'Course': 'Artificial Intelligence'}

In [122]:
type(a)

TypeError: 'str' object is not callable

In [ ]:
a = "Syed Ahsan Shah"
print(a)

In [123]:
print("My Name is Syed Ahsan Shah", "My Father Name is Syed Iqtedar Hussain", "Age = 28", sep="\n")

My Name is Syed Ahsan Shah
My Father Name is Syed Iqtedar Hussain
Age = 28

In [124]:
print("My Name is Syed Ahsan Shah", "My Father Name is Syed Iqtedar Hussain", "Age = 28", sep="\t")

My Name is Syed Ahsan Shah	My Father Name is Syed Iqtedar Hussain	Age = 28

In [125]:
print(1.0)

1.0

In [126]:
a = "Syed Ahsan Shah"
a

'Syed Ahsan Shah'

# Syed Ahsan Hussain

In [127]:
a = "Syed ahsan shah"
a

'Syed ahsan shah'

In [128]:
a

'Syed ahsan shah'

In [129]:
type(a)

TypeError: 'str' object is not callable

In [ ]:
a = 123.0
a

In [ ]:
print(a)

In [ ]:
type(a)

# Data Types

In [132]:
name = "Syed Ahsan Shah"
age = 28
print("My Name is "+name+" and My Age is "+str(age))

My Name is Syed Ahsan Shah and My Age is 28

In [136]:
print(name)

Syed Ahsan Shah

In [137]:
print(age)

28

In [141]:
x = age + str(name)

TypeError: unsupported operand type(s) for +: 'int' and 'str'